.idea/codeStyles/
.idea/excellenteam-erez-cpp-overloading-new-and-delete-ahmad2806.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
person/.idea/
person/CMakeLists.txt
person/cmake-build-debug/
.idea/vcs.xml